.login_main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    border-radius: 6px;
    background-color: rgb(214, 231, 210);
}

.login_fieldset {
    width: 70vw;
    height: 30vh;
    border: 2px solid coral;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_select {

    text-indent: 50vh;
    width: 60vw;
    height: 9vh;
    font-size: 4vh;
    margin-left: 4vw;
    margin-top: 7vh;
    border: 1px solid coral;
    border-radius: 4px;
}

.login_option {
    text-indent: 50vh;
    width: 60vw;
    height: 3vh;
    margin-left: 5vw;
    margin-top: 7vh;
    border: 1px solid coral;
    border-radius: 4px;
}

.login_input {
    display: flex;
    align-content: space-around;
    font-size: 4vh;
    width: 60vw;
    height: 9vh;
    margin-left: 5vw;
    margin-top: 7vh;
    border: 1px solid coral;
    border-radius: 4px;
    text-align: center;
}

.login_button {
    width: 20vw;
    height: 6vh;
    margin-left: 23vw;
    margin-top: 2vh;
    border: 1px solid coral;
    border-radius: 4px;
}
